body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: aliceblue;
}

/* Users Data luist, delete  */
.MuiDataGrid-main > div:nth-child(3) {
  display: none;
}
